.login{
    display: flex;
    @include mx-responsive("small")
    {
        display: block;
    }
    h1{
        font-size: 45px;
        color: $white1;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .copy{
        font-size: 12px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        a{
            display: flex;
            color: $white1;
            align-items: center;
            svg{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    .left,.right{
        padding: 50px;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        *{
            color: $white1;
        }
        h2{
            font-size: 24px;
            margin-bottom: 25px;
        }
        p{
            font-size: 12px;
        }
        .error{
            color: $color2;
            margin-bottom: 10px;
        }
        form{
            width: 100%;
            max-width: 500px;
            
            .alignRight{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 50px;
                p{
                    display: block;
                    cursor: pointer;
                    color: $color1;
                }
            }
            .button{
                margin: 0 auto;
                display: block;
            }
            
        }
    }

    .left{
        width: 70%;
        background: $black;

        @include mx-responsive("hd")
        {
            width: 50%;
        }
        @include mx-responsive("small")
        {
            width: 100%;
            height: calc(100vh - 30px);
        }
    }
    .right{
        width: 30%;
        background: $color1;
        align-items: flex-end;
        @include mx-responsive("hd")
        {
            width: 50%;
        }
        @include mx-responsive("small")
        {
            width: 100%;
        }
        .error{
            color: $white1;
        }
        form{
            .marginBottom{
                margin-bottom: 30px;
            }
        }
        .button{
            background: $white1;
            color: $color1;
        }
    }

    .resetPass{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        background: rgba($color: $black, $alpha: 0.8);
        align-items: center;
        justify-content: center;
        .center{
            padding: 20px;
            background: $white1;
            border-radius: 3px;
            @include mx-responsive("small")
            {
                max-width: 80vw;
            }
            .descricao{
                font-size: 24px;
                color: $black;
                margin-bottom: 30px;
            }
            input{
                border: 1px solid $color1;
                margin-bottom: 30px;
            }
        }
    }
}