.pageResetPass{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: $black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 45px;
        color: $white1;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .center{
        width: 90%;
        max-width: 500px;
        *{
            color: $white1;
        }
        h2{
            font-size: 24px;
            margin-bottom: 25px;
        }
        p{
            font-size: 12px;
        }
        .error{
            color: $color2;
            margin-bottom: 10px;
        }
    }
}