$ultrahd-device: 2304px;
$fullhd-device: 1200px;
$hd-device: 800px;
$small-device: 430px;

$black: #1F1F24;
$white1: #CCCCD4;

$color1: #4949A5;
$color2: #B44545;
$color3: #6C6CBE;

$textColor: $black;

$borderRadius: 0px;

$font1: 'Ubuntu', sans-serif;
$font2: 'Ubuntu', sans-serif;

$font-size1: 16px;
$font-size2: 21px;
$font-size3: 35px;
$font-size4: 120px;