@import "variables";
@import "reset";
@import "variables";
@import "login";
@import "tasks";
@import "resetPassword";

*{
    font-family: $font1;
}

.button{
    padding: 10px 15px;
    min-width: 100px;
    border-radius: 3px;
    background: $color1;
    font-size: 12px;
    color: $white1;
    border: none;
    cursor: pointer;
}

input{
    width: 100%;
    padding: 10px 15px;
    display: block;
    background: none;
    border: 1px solid $white1;
    border-radius: 3px;
    margin-bottom: 15px;
    &::placeholder{
        color: $white1;
        opacity: 0.5;
    }
}