@import "variables";
@import "reset";
@import "variables";
@import "login";

*{
    font-family: $font1;
}

.button{
    padding: 10px 15px;
    min-width: 100px;
    border-radius: 3px;
    background: $color1;
    font-size: 12px;
    color: $white1;
    border: none;
    cursor: pointer;
}