* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a, div, img, button, input {
  margin: 0;
  padding: 0;
  min-width: 1px;
  min-height: 1px;
  font-style: none;
  text-decoration: none;
  font-weight: normal;
  list-style-type: none;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login h1 {
  font-size: 45px;
  color: #CCCCD4;
  position: absolute;
  top: 50px;
  left: 50px;
}

.login .copy {
  font-size: 12px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.login .copy a {
  color: #CCCCD4;
}

.login .left, .login .right {
  padding: 50px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .left *, .login .right * {
  color: #CCCCD4;
}

.login .left h2, .login .right h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.login .left p, .login .right p {
  font-size: 12px;
}

.login .left .error, .login .right .error {
  color: #B44545;
  margin-bottom: 10px;
}

.login .left form, .login .right form {
  width: 100%;
  max-width: 500px;
}

.login .left form .alignRight, .login .right form .alignRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 50px;
}

.login .left form .alignRight p, .login .right form .alignRight p {
  display: block;
  cursor: pointer;
  color: #4949A5;
}

.login .left form .button, .login .right form .button {
  margin: 0 auto;
  display: block;
}

.login .left {
  width: 70%;
  background: #1F1F24;
}

.login .right {
  width: 30%;
  background: #4949A5;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.login .right .error {
  color: #CCCCD4;
}

.login .right form .marginBottom {
  margin-bottom: 30px;
}

.login .right .button {
  background: #CCCCD4;
  color: #4949A5;
}

.login .resetPass {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(31, 31, 36, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .resetPass .center {
  padding: 20px;
  background: #CCCCD4;
  border-radius: 3px;
}

.login .resetPass .center .descricao {
  font-size: 24px;
  color: #1F1F24;
  margin-bottom: 30px;
}

.login .resetPass .center input {
  border: 1px solid #4949A5;
  margin-bottom: 30px;
}

.main_tarefas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main_tarefas .header {
  width: 100%;
  background: #4949A5;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_tarefas .header > div {
  width: 33%;
}

.main_tarefas .header .search input {
  border: none;
  background: #6C6CBE;
  margin-bottom: 0;
}

.main_tarefas .header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_tarefas .header .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main_tarefas .header .icons ul li {
  margin-left: 15px;
  cursor: pointer;
}

.main_tarefas .tarefas {
  background: #1F1F24;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.main_tarefas .tarefas .task_lists {
  padding-top: 45px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.main_tarefas .tarefas .task_lists .task {
  width: 100%;
  padding: 15px 0;
}

.main_tarefas .tarefas .task_lists .task > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_tarefas .tarefas .task_lists .task .check {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: 1px solid #CCCCD4;
  border-radius: 50%;
  cursor: pointer;
}

.main_tarefas .tarefas .task_lists .task .check:hover {
  border: 1px solid #6C6CBE;
}

.main_tarefas .tarefas .task_lists .task .checked {
  background: #6C6CBE;
  border: 1px solid #6C6CBE;
}

.main_tarefas .tarefas .task_lists .task .checked ~ .name {
  color: #6C6CBE;
}

.main_tarefas .tarefas .task_lists .task .name {
  color: #CCCCD4;
  padding: 0 15px;
  font-size: 14px;
  width: 100%;
}

.main_tarefas .tarefas .task_lists .task .name input {
  color: #CCCCD4;
  margin-bottom: 0;
}

.main_tarefas .tarefas .task_lists .task .icons {
  opacity: 0;
}

.main_tarefas .tarefas .task_lists .task .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_tarefas .tarefas .task_lists .task .icons ul li {
  margin-left: 15px;
  cursor: pointer;
  opacity: 0.5;
}

.main_tarefas .tarefas .task_lists .task .icons ul li:hover {
  opacity: 1;
}

.main_tarefas .tarefas .task_lists .task .buttons {
  padding-top: 15px;
  padding-left: 39px;
}

.main_tarefas .tarefas .task_lists .task .buttons .cancelar {
  background: none;
  border: none;
  color: #4949A5;
  margin-left: 25px;
  cursor: pointer;
}

.main_tarefas .tarefas .task_lists .task:hover .icons {
  opacity: 1;
}

.main_tarefas .tarefas .task_lists .newTask {
  margin-top: 15px;
}

.main_tarefas .tarefas .task_lists .newTask input {
  color: #CCCCD4;
  margin-bottom: 0;
}

.pageResetPass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #1F1F24;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pageResetPass h1 {
  font-size: 45px;
  color: #CCCCD4;
  position: absolute;
  top: 50px;
  left: 50px;
}

.pageResetPass .center {
  width: 90%;
  max-width: 500px;
}

.pageResetPass .center * {
  color: #CCCCD4;
}

.pageResetPass .center h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.pageResetPass .center p {
  font-size: 12px;
}

.pageResetPass .center .error {
  color: #B44545;
  margin-bottom: 10px;
}

* {
  font-family: "Ubuntu", sans-serif;
}

.button {
  padding: 10px 15px;
  min-width: 100px;
  border-radius: 3px;
  background: #4949A5;
  font-size: 12px;
  color: #CCCCD4;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px 15px;
  display: block;
  background: none;
  border: 1px solid #CCCCD4;
  border-radius: 3px;
  margin-bottom: 15px;
}

input::-webkit-input-placeholder {
  color: #CCCCD4;
  opacity: 0.5;
}

input:-ms-input-placeholder {
  color: #CCCCD4;
  opacity: 0.5;
}

input::-ms-input-placeholder {
  color: #CCCCD4;
  opacity: 0.5;
}

input::placeholder {
  color: #CCCCD4;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */